body {
    margin: 0;
    background-color: rgb(20, 106, 20);
  }

  #game-screen{background-image: url("../images/fondo-carretera.jpg");
    background-position: center;
    background-size: cover;
    padding-bottom: 12%;

  }

  h1{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    text-shadow:#3d3e3f 8px -20px 9px ;

  }

  #podium {
    border-radius: 40px;

  }

  #start-btn {
    background-color: rgb(140, 189, 140);
    color: black;
    padding: 20px;
    font-size: 25px;
    margin-top: 40px;
    border-radius: 20px; 
  }
  #start-btn:hover{
    background-color: rgb(72, 224, 72);
    border: 4px solid 
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
  }

  #textVidas {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    text-align: right;
    margin-top: 55px;
  }

  #instructions {
    color: white;
    font-size: 20px;

  }

  #botonAudio{
    padding: 5px;
    font-size: 15px;
    display: block;
    width: 40%
  }
  

  #audioOn, #audioOff{
    background-color: rgb(255, 255, 255);
    padding: 7px;
    margin-bottom: 10px;
    border: 4px solid rgb(36, 73, 51);
    border-radius: 10px;
    color: rgb(36, 73, 51);
    font-weight: bolder;
  }

  #audioOff:hover{
    background-color: rgb(85, 193, 101);
  }
  #audioOn:hover {
    background-color: rgb(85, 193, 101);
  }
 

  #game-box {
    background-color: rgb(121, 171, 142);
    width:650px;
    height:450px;

    position: relative; /*posiciona los element de forma absoluta dentro de game-box */
    overflow: hidden; /* los element no salgan visualmente del game-box */
    user-select: none;  /*element del game-box no sean resaltados al hacer click */
    
  
    background-image: url("../images/carretera.png");
    background-position: center;
    background-size: cover;
  }
  

  #end-btn{
    background-color: rgb(249, 249, 249);
    color: black;
    padding: 20px;
    font-size: 20px;
    margin-top: 30px;
    border-radius: 80px; 
    margin-bottom: 30px;
  }

  #end-btn:hover{
    background-color: rgb(175, 247, 127);
    border: 4px solid 
  }


  #game-screen, #game-over-screen{
    display: none; /*borramos de la vista las 2 pantallas */
  }

  #muchasImg{
    border-radius: 0;
    
  }

  #score{
    background-color: rgb(175, 247, 127);
    color: rgb(71, 69, 69);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-align: center;
    padding: 10px 10% 10px 10%;
    margin-top: 20px;
    margin-bottom: 40px;
    border-radius: 10px;
  }